* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background: #ffffff;
}

footer {
  display: grid;
  grid-template-rows: 1fr 180px;
  width: 100%;
  margin-top: -150px;
  grid-row-start: 2;
  grid-row-end: 3;
}

.polygon-left {
  position: absolute;
}

.polygon-right {
  position: absolute;
  left: calc(100% - 135px);
}

h2 {
  width: 100%;
  height: 100px;
  margin-top: 83px;

  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #000000;
}

h3 {
  margin-top: -10px;
  width: 100%;
  height: 44px;

  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #000000;
}

main img.logo {
  margin-top: 20px;
  width: 100%;
  height: 181.92px;
  text-align: center;
}

h1 {
  width: 100%;
  height: 100px;
  margin-top: 10px;

  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 106px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #000000;
}

hr.special {
  width: 100%;
  border: 1px solid #742092;
}

.description-1 {

  margin-top: -15px;
  width: 100%;
  height: 100px;

  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: rgba(0, 0, 0, 0.5);
}

.description-1 p {
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
}

h4 {
  margin-top: -30px;
  width: 100%;
  height: 44px;

  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #000000;
}

figure {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 43px;
  bottom: -165px;
  background-image: url("../img/Ellipse.svg");
  background-repeat: no-repeat;
  width: 554px;
  height: 400px;
}

figure ul {
  list-style-type: none;
}

figure li {
  margin-top: 41px;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 204px;

  color: #000000;
}

figure img {
  position: absolute;
  left: 119px;
}

figure ul a {
  text-decoration: none;
  color: #000000;
}

picture {
  width: 100%;
  background-image: url("./../img/waves.svg");
  background-size: cover;
  z-index: 1;
}

@media screen and (min-height: 1441px) {
  section {
    bottom: -230px;
  }
}

/*LAPTOPS*/
@media screen and (min-width: 1240px) and (max-width: 1440px) {
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 30px;
  }

  h1 {
    font-size: 66px;
  }

  .description-1 p{
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  figure li {
    font-size: 30px;
    margin-left: 153px;
    margin-top: 30px;
  }

  figure img {
    height: 45px;
    width: 45px;
    left: 89.25px;
  }
  figure {
    bottom: -150px;
    width: 415.5px;
    height: 300px;
    background-size: contain;
  }
}

/* TABLETS */
@media screen and (min-width: 1024px) and (max-width: 1240px) {
  figure li {
    line-height: 24px;
  }

  figure img {
    right: 0px;
  }
  figure li {
    line-height: 50px;
  }
  figure {
    bottom: -120px;

    background-size: contain;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer{
    margin-top: -85px;
  }

  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 30px;
  }

  h1 {
    font-size: 66px;
  }

  .description-1 p {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  figure li {
    font-size: 30px;
    margin-left: 155px;
  }

  figure img {
    left: 95px;
    height: 45px;
    width: 45px;
  }
  figure {
    width: 415.5px;
    height: 300px;
    bottom: -100px;
    background-size: contain;
  }
}
/*MOBILE PHONES*/
@media screen and (max-width: 768px) {
  footer{
    margin-top: -85px;
  }
  
  .polygon-left {
    width: 93.75px;
  }

  .polygon-right {
    width: 101.25px;
    left: calc(100% - 101.25px);
  }

  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }

  .logo {
    padding-right: 20px;
  }

  h1 {
    font-size: 44px;
  }

  .description-1 p {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
  }

  figure li {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 102px;
    line-height: 24px;
  }

  figure img {
    height: 30px;
    width: 30px;
    left: 59.5px;
  }
  figure {
    width: 277px;
    bottom: -90px;
    height: 200px;
    background-size: contain;
  }
}
