*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
}

header{
    position: fixed;
    height: 10%;
    width: 100%;

}
header section{
    text-align: center;
    background-color: darkgrey;
    height: 60%;
}
header nav{
    text-align: center;
    height: 40%;
    background-color: chocolate;
}

main{
    background-color: darkgreen;

}

section.bobr{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100vh;
    background: darkcyan;
}

footer{
    padding-left: 12vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: blueviolet;

}



